BOT_TOKEN="prod_bot_token"
START_MESSAGE=
BEGINNING_WORKING_DAY=9
END_WORKING_DAY=18
ADMINS_TELEGRAM_ID=0
WEEKENDS="Выходные дни- Вск"
LOCAL_UTC="Часовой пояс- +3"
REMINDER_TIME="8:30"
GOOGLE_CREDENTIALS_FILE="/app/creds/nixos-ai-001-051cfeb5722e.json"
GOOGLE_CALENDAR_ID="your-prod-calendar-id"
GOOGLE_TIMEZONE="Europe/Moscow"
DB_PATH="/app/data/database_prod/database.db"
