BOT_TOKEN = "Ваш токен для бота, полученный от @BotFather"
START_MESSAGE = "<b>Текст приветствия</b>"
BEGINNING_WORKING_DAY = Начало работы (например 9) в часах
END_WORKING_DAY = Завершение работы (например 18) в часах
ADMINS_TELEGRAM_ID = Телеграм ИД админов (указывать через пробел)
WEEKENDS = "Выходные дни- Пн Вт Ср Чт Пт Суб Вск"
LOCAL_UTC = "Часовой пояс- +4"
REMINDER_TIME = "В какое время напоминать клиентам о записи (по умолчанию 8:30)"
GOOGLE_CREDENTIALS_FILE="Путь до JSON ключа сервисного аккаунта Google"
GOOGLE_CALENDAR_ID="ID календаря для записи"
GOOGLE_TIMEZONE="Таймзона календаря, например Europe/Moscow"
